<img class="gallery-img" src="/snow10.jpg" alt="img">  
<div id="info-block">
    Are you sure you want to log out? 
    <form method="POST" style="justify-content: center;display: grid;">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button>Log out</button>
    </form>
</div>