<div id="page-name">
 <h1>LOG 
    <br>
    OUT</h1>
</div> 
<div id="info-block" style="text-align: center;  margin: 16% 19% 0% 28%; ">
    <form method="POST" style="justify-content: center;display: grid;">  
    <h3>Are you sure you want to log out? </h3>     
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <br>   <button>Log out</button>
    </form>
</div>