<div id="signersBlock">
<h1>Look at all people who think the same way and signed this partition</h1>
   <h2> And the total number of signers is {{totalNumber}} </h2>   
<ol>
    {{#allSigners}}
<li>{{first}} {{last}}</li>
    {{/allSigners}}
</ol>

</div>