<div id="thanksBlock">
<h1> Thanks man</h1>

<h2>I hope you are proud of that </h2>
    <img src="{{sigUrl}}" alt="sig" style="border: 1px solid grey;"> 
 <h1>And total number of signers is {{totalNumber}}</h1> {{!--  MUST BE A LINK ??  --}}
 
 <form method="POST" style="justify-content: center;display: grid;">
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Delete your sinature</button>
 </form>
<button>
    <a href="/signers">Click to see all signers</a>
</button>
</div>