<div id="thanksBlock">
<h1> Thanks man</h1>
{{!-- {{#petitionList}}
<h2>I hope you are proud of that <img src=" {{signature[signatureId]}}  " alt=""> </h2>
  {{!--   {{sinatureId}}     --}}

 
<button>
    <a href="/signers">Click to see all signers</a>
</button>
</div>