 <div id="page-name">
 <h1>THANK 
    <br>
    YOU</h1>
</div> 
<div id="info-block" style="text-align: center; margin: 5% 19% 0% 33%; ">
<h2> Thanks man</h2>
<br>
<h3>I hope you are proud of that </h3>
<br>
    <img src="{{sigUrl}}" alt="sig" style="border: 1px solid grey;"> 
 <h3>And total number of signers is {{totalNumber}}</h3> {{!--  MUST BE A LINK ??  --}}
 
 <form method="POST" style="justify-content: center;display: grid;">
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Delete your sinature</button>
    <button>
    <a href="/signers">Click to see all signers</a>
</button>
 </form>

</div>