* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #d4e2df;
}

#inputs {
    margin: 45% 17%;
        justify-content: center;
    display: grid;
}
}
#firstName {
    border-width: 0 0 1px 0;
}
#lastName {
    border-width: 0 0 1px 0;
}
#canvas {
    border: dotted black;
}
button{
    width: 131px;
height: 45px;
justify-self: center;
}
footer {
    position: fixed;
    bottom: 10px;
}

/*     border-width: 0 0 1px 0;     for inputs */
/*    do smth with labels */
