* {
    margin: 0;
    box-sizing: border-box;
}
body {
    /* margin: 10%; */
    align-items: center;
    background-color: #2c3735;
    color: #d4e2df;
    font-family: "Rajdhani";
    font-weight: bolder;
    font-size: x-large;
}

.gallery-img {
    object-fit: cover;
    width: 100%;
    height: max-content;
}

#info-block {
    background-color: rgb(58 58 58 / 72%);
    position: absolute;
    top: 5%;
    padding: 5% 10%;
    margin: 17%;
}

#nav {
    position: fixed;
    display: grid;
    right: 0;
    top: 5%;
    /* border: rgb(41, 40, 40) 3px solid; */
}

#inputs {
    margin: 45% 17%;
    justify-content: center;
    display: grid;
}
#firstName {
    border-width: 0 0 1px 0;
}
#lastName {
    border-width: 0 0 1px 0;
}
#canvas {
    border: dotted 1px black;
}
button {
    width: 131px;
    height: 45px;
    justify-self: center;
    background-color: rgb(58 58 58 / 32%);
}
button:hover {
    background-color: rgb(98 98 98 / 72%);
}

footer {
    position: fixed;
    bottom: 10px;
}

/*     border-width: 0 0 1px 0;     for inputs */
/*    do smth with labels */
