* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 10%;
    align-items: center;
    background-color: #d4e2df;
    color: #2c3735;
    font-family: "Rajdhani";
    font-weight: bolder;
    font-size: x-large;
}
#nav {
    position: fixed;
    display: grid;
    right: 3%;
    top: 5%;
    border: rgb(41, 40, 40) 3px solid;
}

#inputs {
    margin: 45% 17%;
    justify-content: center;
    display: grid;
}
#firstName {
    border-width: 0 0 1px 0;
}
#lastName {
    border-width: 0 0 1px 0;
}
#canvas {
    border: dotted 1px black;
}
button {
    width: 131px;
    height: 45px;
    justify-self: center;
}

footer {
    position: fixed;
    bottom: 10px;
}

/*     border-width: 0 0 1px 0;     for inputs */
/*    do smth with labels */
